<%= form_for(user, html: {multipart: true}) do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Save', class: 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', users_path, class: 'btn btn-large btn-warning' %>
  </div>

<% end %>
