<span id="notice"></span>
<div class="row pt-4 px-2">
  <div class="col-lg-8 col-xs-12">
    <h1 class="card-title d-inline-block">Users</h1>

    <% if current_user.is_admin? %>
      <%= link_to 'Create New User', new_user_path, class: 'btn unique-color d-inline-block float-right' %>
    <% end %>
  </div>
</div><!-- end row pt-4-->  

<div class="row">
  <div class="col-lg-8 col-xs-12">
    <div class="card mt-3">  
      <div class="card-content">
        <div class="card-body table-responsive">
          <table class="table table-striped table-sm table-hover dtr-inline" cellspacing="0" width="100%">
            <thead>
            <tr class="stylish-color-dark text-white">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>User Name</th>
              <th>Departments</th>
              <% if current_user.is_admin? %>
                <th>Admin</th>
                <th>Edit</th>
              <% end %>
            </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
                <td><%= user.departments.blank? ? "All" : user.departments.join(', ') %></td>
                <% if current_user.is_admin? %>
                  <td><%= user.admin %></td>
                  <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-outline-deep-orange-darken-2' %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!-- end row -->