<tr id="<%= dom_id(section) %>" class="<%= section.flagged_as %>">
  <td><%= flagged_icon(section) %></td>
  <td><%= section.flagged_as %></td>
  <td><%= section.department %></td>
  <td><%= section.cross_list_group unless section.cross_list_group == "'---" %></td>
  <td><%= section.section_and_number %></td>
  <td><%= section.title %></td>
  <td><%= section.credits %></td>
  <td><%= section.level %></td>
  <td><%= section.status %></td>
  <td><%= section.enrollment_limit %><%= yesterday_arrow(section, 'enrollment_limit') %></td>
  <td><%= section.actual_enrollment %><%= yesterday_arrow(section, 'actual_enrollment') %></td>
  <td><%= section.cross_list_enrollment %><%= yesterday_arrow(section, 'cross_list_enrollment') %></td>
  <td><%= section.waitlist %><%= yesterday_arrow(section, 'waitlist') %></td>
  <td><%= basic_date(section.created_at) %></td>
  <td><%= basic_date(section.canceled_at) unless section.canceled_at.blank? %></td>
  <td><%= basic_date(section.most_recent_comment_date) unless section.most_recent_comment_date.blank? %></td>
  <% unless action_name == 'show' %>
    <td>
      <%= link_to "<i class='fa fa-comment' aria-hidden='true'></i> <span class='comment-count'>#{section.comments.size}".html_safe, section_comments_path(section), remote: true, data: { toggle: 'modal', target: '#comments' } %>
      <% if section.comments.present? %>
        <%= content_tag(:span, "<i class='fa fa-info-circle' id='preview-comment' aria-hidden='true'></i>".html_safe, data: { toggle: 'popover', title: section.comments.first.user.full_name + " " + time_ago_in_words(section.comments.first.created_at) + " ago", content: section.comments.first.body }, class: 'comment-hover' ) %>
      <% end %>
      <% if section.resolved_section && current_user.is_admin? %>
        <i class='fa fa-check' style="color: green;" aria-hidden='true' id="resolved">
      <% else %>
        <div id="resolved" style="color: green;"></div>
      <% end %>
    </td>
    <td><%= link_to "<i class='fa fa-chart-line' aria-hidden='true'></i> Graph".html_safe, section %></td>
  <% end %>
</tr>
