<tr id="<%= dom_id(section) %>">
  <td><%= section.flagged_as %></td>
  <td><%= section.department %></td>
  <td><%= section.cross_list_group %></td>
  <td><%= section.section_and_number %></td>
  <td><%= section.title %></td>
  <td><%= section.credits %></td>
  <td><%= section.level %></td>
  <td><%= section.status %></td>
  <td><%= section.enrollment_limit %></td>
  <td><%= section.actual_enrollment %></td>
  <td><%= section.cross_list_enrollment %></td>
  <td><%= section.waitlist %></td>
  <td><%= link_to "<i class='fa fa-comment' aria-hidden='true'></i> <span class='comment-count'>#{section.comments.size}".html_safe, section_comments_path(section), remote: true %></td>
</tr>