<span id="alert-wrapper"></span>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="card-title mr-2 d-inline-block"><%= term_in_words(@term) %> Sections</h1>
        <small>Updated <%= basic_date(@updated_at) %></small>    
      </div>

      <div class="col-sm-6 justify-content-end d-flex"> 
        <div class="dropdown">
          <button class="btn btn-default float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Upload <i class="fa fa-upload m1-1" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right collapse" id="navbarSupportedContent">
            <% if current_user.try(:admin?) %>
              <li class="nav-item">
                <%= form_tag sections_import_path, multipart: true, class: 'form-inline', id: 'update-form', remote: true do %>
                    <%= file_field_tag :file, :accept => 'application/xslt+xml' %>
                    <%= submit_tag "Update Sections", :class => "btn btn-sm btn-outline-default btn-block" %>
                <% end %>
                <span class="spinner"><i class="fa fa-spinner fa-pulse"></i></span>
              </li>
            <% end %>
            <% @terms.each do |term| %>
              <li class="nav-item">
                <%= link_to term_in_words(term.term), sections_url(term: term.term), class: 'nav-link' %>
              </li>
            <% end %>  
          </div>  
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="alerts-button" data-toggle="collapse" href="#notifications" aria-expanded="false" aria-haspopup="true" aria-controls="notifications">
            Activity <!--<span class="badge badge-light">4</span>-->
          </button>
          <div class="dropdown-menu dropdown-menu-right animated fadeInUp" id="notifications" aria-labelledby="alerts-button">
            <%= render partial: 'comments/recent_comment', collection: @recent_comments %>
          </div>
        </div>
      </div>       
    </div><!-- end 2nd row -->

    <div class="card mt-3">  
      <div class="card-header white">
        <%= form_tag sections_path, method: "get", id: "filter-form", class: "control label" do %>
        <div class="row">
            <div class="col-sm-3">
              <%= label_tag 'department', 'Department' %>
              <%= select "section", "department", options_for_select(Section.department_list, selected: @department), { prompt: 'ALL' }, { class: 'form-control' } %>
            </div>
            <div class="col-sm-3">
              <%= label_tag 'status', 'Status' %>
              <%= select "section", "status", options_for_select(Section.status_list, selected: @status), { prompt: 'ALL' }, { id: 'filter-status', class: 'form-control' } %>
            </div>
            <div class="col-sm-3">
              <%= label_tag 'Level', 'Level' %>
              <%= select "section", "level", options_for_select(Section.level_list, selected: @section_level), { prompt: 'ALL' }, { id: 'filter-status', class: 'form-control' } %>
            </div>
            <div class="col-sm-3 button-group pull-right">
              <%= link_to 'Clear Filters', sections_path, style: 'text-decoration: underline;' %><i class="fa fa-times pl-1" aria-hidden="true"></i>
              <br>
              <a href="#" id="filter-submit" class="btn btn-sm btn-block btn-primary mt-2">Filter</a>
            </div>
        </div>
        <% end %>
      </div>

      <div id="section-table" class="card-content table-full-width">
        <%= render 'section_table' %>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
  $(document).ready(function() {
    $('#class-sections').DataTable( {
      responsive: true,
      columnDefs: [
        { responsivePriority: 1, targets: [4] },
        { responsivePriority: 2, targets: [0,13] },
        { responsivePriority: 3, targets: [9,10,11,12] }
      ],
      stateSave: true
    } );
  } );
</script>
<!--
<script type="text/javascript">
  $('#filter-department').change(function() {
    this.form.submit();
  });
</script>
<script type="text/javascript">
  $('#filter-status').change(function() {
    this.form.submit();
  });
</script> -->

<script type="text/javascript" charset="utf-8">
  $(function () {

    $('#filter-submit').click(function () {
      $(this).parents('form').submit();
    })
  })
</script>
