<span id="alert-wrapper"></span>
<div class="row">
  <div class="col-sm-12">

    <div class="row pt-4 px-4">
      <div class="col-lg-10 col-sm-8 col-xs-6">
        <% if @sections.blank? %>
          <h1 class="card-title d-inline-block">No data</h1>
        <% else %>
          <h1 class="card-title d-inline-block"><%= term_in_words(@term) %> Sections</h1>
          <small class="d-inline-block pb-2">Updated <%= basic_date(@updated_at) %></small>
        <% end %>
        <%= turbo_stream_from "new_data_notification" %>
        <div id="new-data-available"></div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-6">
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-3">
          <div class="card-header white py-4">
            <%= form_tag sections_path, method: "get", id: "filter-form", class: "control label" do %>
            <div class="row">
                <div class="col-md-3 col-sm-6 form-group">
                  <%= label_tag 'section_department', 'Department' %>
                  <%= select "section", "department", options_for_select(Section.department_list, selected: @department), { prompt: 'ALL' }, { class: 'form-control input-sm' } %>
                </div>
                <div class="col-md-2 col-sm-6 form-group">
                  <%= label_tag 'section_status', 'Status' %>
                  <%= select "section", "status", options_for_select(Section.status_list, selected: @status), { default: 'ACTIVE' }, { class: 'form-control' } %>
                </div>
                <div class="col-md-2 col-sm-6 form-group">
                  <%= label_tag 'section_level', 'Level' %>
                  <%= select "section", "level", options_for_select(Section.level_list, selected: @section_level), { prompt: 'ALL' }, { class: 'form-control' } %>
                </div>
                <div class="col-md-2 col-sm-6 form-group">
                  <%= label_tag 'modality', 'Modality' %>
                  <%= select "section", "modality", options_for_select(Section.modality_list_with_labels, selected: @modality), { prompt: 'ALL' }, { class: 'form-control' } %>
                </div>
                <div class="col-md-2 col-sm-6 form-group">
                  <%= label_tag 'section_flagged', 'Flagged As' %>
                  <%= select "section", "flagged", options_for_select(Section.flagged_as_list, selected: @flagged_as), { prompt: 'ALL' }, { class: 'form-control' } %>
                </div>
                <div class="col-md-3 col-xs-12 button-group pull-right">
                  <% unless params[:section].blank? %>
                    <%= link_to 'Clear Filters', sections_path, style: 'text-decoration: underline;' %><i class="fa fa-times pl-1" aria-hidden="true"></i>
                  <% end %>
                  <br>
                  <a href="#" id="filter-submit" class="btn btn-sm btn-block deep-orange darken-2 mt-2">Filter</a>
                </div>
            </div>
            <% end %>
          </div>

          <div class="card-content table-full-width" id="section-table">
            <%= render 'section_table' %>
          </div>
        </div>
      </div>
    </div> <!-- end row -->

  </div>
</div><!-- end row-->
