
<div class="row">
  <div class="col-lg-12">
    <div class="card mt-3">
      <div class="card-body">
        <div class="col-lg-12 form-horizontal">

        <!-- Form -->
        <%= form_with(model: setting, class: 'text-left border border-light p-5') do |form| %>

          <p class="h4 mb-4">Settings</p>

          <% if setting.errors.any? %>
            <div id="error_explanation" class="col-lg-12">
              <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

              <ul>
                <% setting.errors.full_messages.each do |message| %>
                  <%= content_tag :li, message %>
                <% end %>
              </ul>
            </div>

          <% end %>


          <%= form.label :current_term %>
          <%= form.number_field :current_term, class: 'form-control mb-2', placeholder: "Current Term", 'aria-describedby': 'currentTermHelpBlock' %>
          <small id="currentTermHelpBlock" class="form-text text-muted mb-4">
            Use the setting to define the current academic term.
          </small>
          <%= form.label :graduate_enrollment_threshold %>
          <%= form.number_field :graduate_enrollment_threshold, class: 'form-control mb-2' %>

          <%= form.label :undergraduate_enrollment_threshold %>
          <%= form.number_field :undergraduate_enrollment_threshold, class: 'form-control mb-2' %>

          <%= form.label :email_delivery %>
          <%= select :setting, :email_delivery, Setting.delivery_options, {default: 'scheduled'}, {class: 'form-control'} %>
          <small class="form-text text-muted mb-4">
            Use this setting to determine digest and report delivery. Options are "on", "off" and "scheduled". Scheduled is the default and uses the predefined delivery windows aligned with the University registration periods.
          </small>
          <%= submit_tag 'Save', class: 'btn btn-large deep-orange darken-2' %>
          <%= link_to 'Cancel', sections_path, class: 'btn btn-large yellow darken-2' %>
        <% end %>
        <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</div>
