<table id="class-sections" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr class="stylish-color-dark text-white">
      <th>Department</th>
      <th>Active Sections</th>
      <th>Under-Enrolled</th>
      <th>Full</th>
      <th>Over-Enrolled</th>
      <th>Canceled Sections</th>
      <th>Comments Since Yesterday</th>
      <th>Most Recent Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.reporting_departments.each do |department| %>
    <tr>
      <td><%= department %></td>
      <td><%= Section.in_term(@term).in_department(department).not_canceled.size %></td>
      <td><%= Section.in_term(@term).in_department(department).flagged_as?('under_enrolled').size %></td>
      <td><%= Section.in_term(@term).in_department(department).full.size %></td>
      <td><%= Section.in_term(@term).in_department(department).flagged_as?('over-enrolled').size %></td>
      <td><%= Section.in_term(@term).in_department(department).canceled.size %></td>
      <td><%= Comment.for_department(department).in_past_day.size %></td>
      <td><%= basic_datetime(Comment.for_department(department).most_recent) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
