<table id="class-sections" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr class="stylish-color-dark text-white">
      <th>Department</th>
      <th>Not Canceled</th>
      <th>Canceled</th>
      <th>Under-Enrolled</th>
      <th>Full</th>
      <th>Over-Enrolled</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |department, sections| %>
    <tr>
      <td><%= department %></td>
      <td><%= Section.in_term(@term).in_department(department).not_canceled.size %></td>
      <td><%= Section.in_term(@term).in_department(department).canceled.size %></td>
      <td><%= Section.in_term(@term).in_department(department).full.size %></td>
      <td><%= Section.in_term(@term).in_department(department).total_under_enrolled.size %></td>
      <td><%= Section.in_term(@term).in_department(department).over_enrolled.size %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="table-info">
      <td>TOTAL</td>
      <td><%= @not_canceled %></td>
      <td><%= @canceled %></td>
      <td><%= @full %></td>
      <td><%= @under_enrolled %></td>
      <td><%= @over_enrolled %></td>
    </tr>
  </tfoot>
</table>
