<table id="report" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
  <thead>
    <tr class="stylish-color-dark text-white">
      <th>Department</th>
      <th>Active Sections</th>
      <th>Under-Enrolled</th>
      <th>Full</th>
      <th>Over-Enrolled</th>
      <th>Canceled Sections</th>
      <th>Comments Since Yesterday</th>
      <th>Most Recent Comment</th>
      <th>Enrollment Limit</th>
      <th>Actual Enrollment</th>
      <th>Cross-List Enrollment</th>
      <th>Waitlist</th>
      <th>Graph</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.reporting_departments.each do |department| %>
      <% sections = Section.in_term(@term).in_department(department) %>
    <tr>
      <td><%= department %></td>
      <td><%= sections.not_canceled.size %></td>
      <td><%= sections.flagged_as?('under-enrolled').size %></td>
      <td><%= sections.full.size %></td>
      <td><%= sections.flagged_as?('long-waitlist').size %></td>
      <td><%= sections.canceled.size %></td>
      <td><%= Comment.for_department(department).in_past_day.size %></td>
      <td><%= basic_datetime_eastern(Comment.for_department(department).in_term(@term).most_recent) %></td>
      <td><%= sections.not_canceled.sum(:enrollment_limit) %><%= arrow(sections.not_canceled.sum(:enrollment_limit_yesterday)) %></td>
      <td><%= sections.not_canceled.sum(:actual_enrollment) %><%= arrow(sections.not_canceled.sum(:actual_enrollment_yesterday)) %></td>
      <td><%= sections.not_canceled.sum(:cross_list_enrollment) %><%= arrow(sections.not_canceled.sum(:cross_list_enrollment_yesterday)) %></td>
      <td><%= sections.not_canceled.sum(:waitlist) %><%= arrow(sections.not_canceled.sum(:waitlist_yesterday)) %></td>
      <td><%= link_to "<i class='fa fa-chart-line' aria-hidden='true'></i> Graph".html_safe, "reports/#{department}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
