<!DOCTYPE html>
<html>
  <head>
    <title>EnrollChat</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <%= favicon_link_tag(source="Favicon.ico") %>
  </head>

<body>

  <nav class="navbar navbar-light bg-faded navbar-expand-lg white">
    <a class="navbar-brand" href="#">
      <%= image_tag image_path("EnrollChatLogo.jpg"), width: 30, height: 30, class: "d-inline-block align-top" %>
      EnrollChat
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to 'Home', sections_path, class: 'nav-link waves-effect' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Reports', reports_path, class: 'nav-link waves-effect' %>
        </li>
        <% if current_user.try(:admin?) %>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class: 'nav-link waves-effect' %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="termDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Terms</a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right animated fadeInUp" id="termDropdown" aria-labelledy="termDropdownLink">
            <% @terms.each do |term| %>
              <%= link_to term_in_words(term.term), sections_url(term: term.term), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-outline unique-color-dark dropdown-toggle btn-sm" type="button" id="alerts-button" data-toggle="dropdown" href="#notifications" aria-expanded="false" aria-haspopup="true" aria-controls="notifications">Activity</button>
          <div class="dropdown-menu dropdown-menu-right animated fadeInUp" aria-labelledy="alerts-button">
            <%= render partial: 'comments/recent_comment', collection: @recent_comments %>
            <%= link_to "Enrollchat Is Ready", '/sections', class: 'dropdown-item', remote: true if @recent_comments.empty? %>
          </div>
        </li>
        <li class="nav-item my-lg-0">
          <%= render 'devise/menu/login_items' %>
        </li>
      </ul>
    </div>
  </nav>
  

  <div class="container-fluid p-4">
    <%= render partial: "/layouts/alert", flash: flash %>
    <%= yield %>
    <div class="modal fade" id="comments">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="comments-modal-content">
            <p>Modal body text goes here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

  <script type="application/javascript">
    $(document).ready(function() {
      $("#alerts-button").on("click", function() {
        $(this).toggleClass("unique-color grey");
        if($('#alerts-button').hasClass('rgba-lime-strong')) {
          $('#alerts-button').toggleClass('rgba-lime-strong unique-color-dark')
        };
      });
      $('#alerts-button').on('hidden.bs.dropdown', function () {
        alert('Lana Turner has collapsed!');
      })
      $('#alerts-button').on('show.bs.dropdown', function () {
        alert('Lana Turner has collapsed!');
      })
    } );
  </script>
</html>


