<!DOCTYPE html>
<html>
  <head>
    <title>EnrollChat</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <%= favicon_link_tag(source="Favicon.ico") %>
  </head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">
      <img src="assets/images/EnrollChatLogo.jpg" width="30" height="30" class="d-inline-block align-top"/> 
      EnrollChat
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="navbar-brand" href="#">EnrollChat</a>-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', sections_path, class: 'nav-link' %>
      </li>
      <% if current_user.try(:admin?) %>
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= form_tag sections_import_path, multipart: true, class: 'form-inline', id: 'update-form', remote: true do %>
              <%= file_field_tag :file, :accept => 'application/xslt+xml' %>
              <%= submit_tag "Update Sections", :class => "btn btn-white" %>
          <% end %>
          <span class="spinner"><i class="fa fa-spinner fa-pulse"></i></span>
        </li>
      <% end %>
      <% @terms.each do |term| %>
        <li class="nav-item">
          <%= link_to term_in_words(term.term), sections_url(term: term.term), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <div class="my-2 my-lg-0">
      <%= render 'devise/menu/login_items' %>
    </div>
  </nav>

  <div class="container-fluid">
    <%= render partial: "/layouts/alert", flash: flash %>
    <%= yield %>
  </div>


</body>
</html>
