<!DOCTYPE html>
<html>
  <head>
    <title>EnrollChat</title>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application_1' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <%= favicon_link_tag(source="Favicon.ico") %>
  </head>

<body class = "<%= controller_name %> <%= action_name %>">

  <nav class="navbar navbar-light bg-light navbar-expand-lg white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/sections">
        <%= image_tag image_path("EnrollChatLogo.png"), height: 30, class: "d-inline-block align-top" %>
        EnrollChat
      </a>

      <%= display_current_term %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <% if current_user.try(:admin?) %>
            <li class="nav-item m-auto">
              <%= link_to 'Settings', settings_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if current_user.present? %>
            <li class="nav-item m-auto">
              <%= link_to 'Sections', sections_path, class: 'nav-link <%= active_class(sections_path) %>' %>
            </li>
            <li class="nav-item m-auto <%= active_class(reports_path) %>">
              <%= link_to 'Summary', reports_path, class: 'nav-link' %>
            </li>
            <li class="nav-item m-auto <%= active_class(users_path) %>">
              <% if current_user.try(:admin?) %>
                <%= link_to 'Users', users_path, class: 'nav-link' %>
              <% else %>
                <%= link_to 'Preferences', edit_user_path(current_user), class: 'nav-link' %>
            <% end %>
            </li>
            <li class="nav-item dropdown m-auto">
              <a class="nav-link dropdown-toggle" type="button" href="#termsemesters" data-bs-toggle="dropdown" aria-expanded="false">Terms</a>
              <ul class="dropdown-menu dropdown-menu-end" id="termsemesters">
                <% @terms.each do |term| %>
                  <li><%= link_to term_in_words(term.term), sections_url(term: term.term), class: 'dropdown-item' %></li>
                <% end %>
              </ul>
            </li>
            <li class="nav-item dropdown m-auto" id="activity-dropdown">
              <%= turbo_stream_from "new_comment_#{current_user.id}_notification" %>
              <button class="btn button-activity dropdown-toggle btn-sm text-white me-2" type="button" id="alerts-button" data-bs-toggle="dropdown" href="#notifications" aria-expanded="false" aria-haspopup="true" aria-controls="notifications">Activity</button>
              <div class="dropdown-menu dropdown-activity dropdown-menu-end animated fadeInUp" aria-labelledby="alerts-button" id="notifications">
                <%= render partial: 'comments/recent_comment', collection: @recent_comments %>
                <%= link_to "Enrollchat Is Ready", '/sections', class: 'dropdown-item', remote: true if @recent_comments.empty? %>
              </div>
            </li>
          <% end %>
          <li class="nav-item m-auto">
            <%= render '/layouts/login_menu' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <%= render partial: "/layouts/alert", flash: flash %>
    <%= yield %>
    <div class="modal fade" id="comments">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Comments</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="comments-modal-content">
            <p>Modal body text goes here.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class="page-footer bg-dark text-white text-center py-4">
  <div class="footer-copyright">
    <div class="container-fluid">
      A product of the <a href="mailto:chssweb@gmu.edu" class="text-white">CHSSWeb</a> Team&nbsp; • &nbsp; &copy; <%= Time.now.year %> Copyright George Mason University <% if Setting.first.documentation_url.present? %>&nbsp; • &nbsp;<a href="<%= Setting.first.documentation_url %>" target="_blank" class="text-white">EnrollChat Information and Updates</a><% end %>
    </div>
  </div>
</footer>
  <%= javascript_include_tag 'material-design/mdb.min' %>
</body>

  <script type="application/javascript">
    $(document).ready(function() {
      var activityButton = $('#alerts-button');
      var activityHolder = $('#activity-dropdown');
      activityHolder.on('show.bs.dropdown', function () {
        activityButton.toggleClass("unique-color grey");
        if(activityButton.hasClass('rgba-lime-strong')) {
          $(activityButton).toggleClass('rgba-lime-strong unique-color-dark')
        };
      });

      $('#activity-dropdown').on('shown.bs.dropdown', function () {
        $.post( "users/<%= current_user.try(:id) %>/checked_activities", function( data ) {
      });

      activityHolder.on('hidden.bs.dropdown', function () {
        $('.new-message-marker').hide();
        });
      });
    });

    document.querySelectorAll('.waves-effect').forEach(function(element) {
    element.classList.remove('waves-effect');
    });
  </script>
</html>
