<!DOCTYPE html>
<html>
  <head>
    <title>EnrollChat</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <%= favicon_link_tag(source="Favicon.ico") %>
  </head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">
      <img src="assets/images/EnrollChatLogo.jpg" width="30" height="30" class="d-inline-block align-top"/> 
      EnrollChat
    </a>
  </nav>

  <nav class="navbar navbar-light bg-faded white navbar-expand-lg">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        <%= link_to 'Home', sections_path, class: 'nav-link' %>
      </li>
      <% if current_user.try(:admin?) %>
        <li class="nav-item">
          <i class="fa fa-user" aria-hidden="true"></i>
          <%= link_to 'Users', users_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <div class="my-2 my-lg-0">
      <%= render 'devise/menu/login_items' %>
    </div>
  </nav>

  <div class="container-fluid white px-5">
    <%= render partial: "/layouts/alert", flash: flash %>
    <%= yield %>
  </div>


</body>
</html>


